beartype==0.16.4
coloredlogs==15.0.1
flatbuffers==23.5.26
humanfriendly==10.0
onnx==1.13.1
onnxruntime==1.15.1
packaging==23.2
protobuf==3.20.3
psutil==5.9.6
pyaml==23.9.7
scipy==1.10.1
sortedcontainers==2.4.0
termcolor==2.4.0
tqdm==4.66.1
appdirs==1.4.4
pandas==1.5.3
tabulate==0.9.0
maraboupy==1.0.0
matplotlib
openpyxl
torch==2.1.2
torchvision==0.16.2
gmpy2==2.1.2
numpy==1.24.4
pycparser==2.21
pyOpenSSL==23.2.0
PySocks==1.7.1
sympy==1.12
